
section{
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2{
    font-size: 40px;
    color: rgb(0, 0, 0);
    border-bottom: black solid 2px;
}

p{
    font-size: 20px;
    color: rgb(0, 7, 14);
    padding: 20px;
}